<div class="col-12">
  <p-toast key="tst"   [baseZIndex]="99999" ></p-toast>

  <p-panel header="Busqueda de Categorias" [collapsed]="false" [toggleable]="true" class="line-height-3 m-0"> 
    <form  >
      <div class="p-fluid p-formgrid grid">

          <div class="col-4 md:col-3">
            <label class="label-filter-text">Nombre</label>
            <input type="text" pInput placeholder="Nombre Categoria" 
            class="p-inputtext p-component p-element">
          </div>

      
    <div class="col-12 md:col-3">
      <label class="label-filter-text">Estado</label>
      <p-dropdown placeholder="Seleccione" optionLabel="value" optionValue="id" [showClear]="true">
      </p-dropdown>
  </div>
                      
      </div>
    
<br>
      <div class="p-fluid p-formgrid grid">
           
        <div class="col-12 md:col-2" >
          <p-button
         label="Crear" (click)="crear()"
         styleClass="p-button-raised mr-2 p-button-help"  
           >  </p-button>
         
        </div>
        

        <div class="col-12 md:col-2" >      
            <div class="flex">
                <p-button pRipple icon="pi pi-file-excel" styleClass="p-button-success mr-2"  pTooltip="Descargar Excel" tooltipPosition="bottom">l</p-button>
            </div>
                
</div>       



        <div class="col-12 md:col-4"></div>      

        <div class="col-12 md:col-2">
            <p-button label="Buscar" icon="pi pi-search" styleClass="p-button p-button-info mr-2 mb-2 "></p-button>
        </div>

        <div class="col-12 md:col-2">
            <p-button label="Limpiar" styleClass="p-button p-button-secondary mr-2 mb-2 " type="button" ></p-button>
        </div>
      


    </div>

      
  </form>
  </p-panel>
</div>


<div class="col-12">
  <p-panel>
    <div class="card">

       <p-table #dt [value]="categoria" [loading]="loading" [rowHover]="true" dataKey="id" 
       [showCurrentPageReport]="true" [rows]="5" 
       currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Registros " 
        [paginator]="true"#paginator [first]="first"  >       
      
        <ng-template pTemplate="header">
            <tr>
                <th class="ml-2">#</th>
                <th class="ml-2">Codigo</th>
                <th  pSortableColumn="nombre" style="min-width:15rem">Nombre <p-sortIcon field="nombre"></p-sortIcon></th> 
                <th style="min-width:6rem" pSortableColumn="imagen" >Imagen</th>
                <th pFrozenColumn  alignFrozen="right">Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr  [ngClass]="{'row-accessories': data.estado === 0}">
              <td class="ml-3">{{data.id}}</td>
              <td class="ml-3">{{data.vCodigo}}</td>
                <td style="min-width:15rem">{{data.nombre}}</td>     
                <td style="min-width:6rem;justify-content: center;">
                  <img src="{{ data.imagen }}" onerror="this.src='/assets/imgno.jpg'" [alt]="data.imagen" width="80" height="50" class="shadow-4" />
            
                </td>
                <td  pFrozenColumn  alignFrozen="right">
                 
                      <button (click)="editarCategoria($event,data)" pButton icon="pi pi-user-edit" 
                              tooltip="Editar"  class="p-button-info btnedit" >
                      </button>

                      <button (click)="cambiarestado($event,data)" pButton [icon]="data.icono" tooltipPosition="left" 
                              [title]="data.poolTip +'Categoria'" class="p-button-warning btnecambiarestado">
                      </button>

                      <button (click)="eliminarCategoria($event,data.id)" pButton icon="pi pi-trash"
                              tooltip="Eliminar"class="p-button-danger btndelete">
                      </button>
                 </td>
            </tr>
        </ng-template>

   


        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En Total hay  {{totalRecord ? totalRecord : 0 }} Categorias.
            </div>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">No se encontro Información.</td>
          </tr>
        </ng-template>
  
        <ng-template pTemplate="loadingbody">
          <tr>
            <td colspan="7">
              Cargando Información de Categorias. Espere Por Favor.
            </td>
          </tr>
        </ng-template>
    </p-table>

    </div>
  </p-panel>
</div>


<p-dialog [(visible)]="idDialog" [style]="{width: '400px'}" header="Detalle Categoria" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content" >
      <form   [formGroup]="formCategoriaEditable">
         
        <div class="p-fluid p-formgrid grid" style="margin-top:5px;">    
            
          <div class="col-12 md:col-12 imgmodal">         
            <img [src]="lsCategoriadto.imagen"   class="imgmodal2" [alt]="lsCategoriadto.nombre" >
          </div>  

         <input type="file" accept="{{acceptedFiles}}"
         class="p-component p-element form-control"  hidden="true"
          id="inputFile" (change)="leerimagenes2($event)"   />
      
         <label role="button" for="inputFile" style="margin-left: 300px;margin-top: 1px" >
          <p-chip icon="pi pi-sync" styleClass="mr-2 custom-chip"></p-chip>
        </label>    

               <div class="col-4 md:col-12 ">
                      <label for="txtNombredg" class="divnombre">Nombre</label>
                      <input type="text" pInputText placeholder="Ingrese Nombre"  
                      [(ngModel)]="lsCategoriadto.nombre" formControlName="txtNombredg"  
                       name="categoria2.nombre" required />
                       <small class="ng-dirty ng-invalid" 
                       *ngIf="submitted && !lsCategoriadto.nombre">Ingrese Nombre.</small>

                  </div>
              

          </div>
      </form>
    
  </ng-template>

  <ng-template pTemplate="footer"  >
      <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple 
      [disabled]="loadinga" label="{{(loadinga)? 'Actualizando....':'Actualizar'}}"
      icon="pi pi-check" class="p-button-text" (click)="actualizar($event)"></button>
      
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="idDialogc" [style]="{width: '600px'}" header="Crear Categoria" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content" >
      <form   [formGroup]="formCategoriaCrear">
          <div class="p-fluid p-formgrid grid" style="margin-top:5px;">    
            <div *ngIf="categoria2.imagen"  class="col-12 md:col-12 imgmodal">         
               <img [src]="categoria2.imagen"   class="imgmodal1" [alt]="categoria2.imagen" >
            </div>
                  <div class="col-4 md:col-12 ">
                      <label for="txtNombredg" class="divnombre">Nombre</label>
                      <input type="text" pInputText placeholder="Ingrese Nombre"  
                      [(ngModel)]="categoria2.nombre" formControlName="txtNombre"  
                       name="categoria2.nombre" required />
                       <small class="ng-dirty ng-invalid" 
                       *ngIf="submitted && !categoria2.nombre">Ingrese Nombre.</small>

                  </div>

                  <div class="col-4 md:col-12 ">
                    <label for="txtImagendg" class="divnombre">Imagen</label>

                     <p-fileUpload name="file"  [maxFileSize]="1000000"
                     [multiple]="false" accept="{{acceptedFiles}}" [fileLimit]="1"
                     [headers]="httpHeaders" [previewWidth]="100"  (onSelect)="leerimagenes($event)"
                     invalidFileTypeMessageDetail="Sólo se permiten ficheros {{acceptedFiles}}"  [customUpload]="true" [showUploadButton]="false" 
                     chooseLabel="Seleccionar Imagen" cancelLabel="Cancelar" uploadLabel="Subir" chooseIcon="pi pi-file" [showCancelButton]="false"
                  ></p-fileUpload>
               
           
                </div>
              

          </div>
      </form>
    
  </ng-template>

  <ng-template pTemplate="footer"  >
      <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple  class="p-button-text" label="{{(loadingc)? 'Registrando....':'Registrar'}}"
      [disabled]="loadingc" (click)="crearCategoria()"></button>
  </ng-template>
</p-dialog>


<p-confirmPopup key="deleteCategoria"></p-confirmPopup>