.body{
    width: calc(100% - 5rem);
    height: 127%;
    margin-left: 5rem;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all .5s ease;
    background: #f4f7fa;    
   /* padding: 3rem;PARA AJUSTAR EL MARGIN DEL BODY QUE SE VERA*/
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
}

.body-trimmed{
width: calc(100% - 16.5625rem);
margin-left: 16.5624rem;
}
.body-md-screen{
    width: calc(100% - 5rem);
    margin-left: 5rem;
}