<div class="col-12">
  <p-toast key="tst"[baseZIndex]="99999" ></p-toast>

  <p-panel header="Busqueda de Marca" [collapsed]="false" [toggleable]="true" class="line-height-3 m-0"> 
    <form  >
      <div class="p-fluid p-formgrid grid">

          <div class="col-4 md:col-3">
            <label class="label-filter-text">Nombre</label>
            <input type="text" pInput placeholder="Nombre Marca" 
            class="p-inputtext p-component p-element">
          </div>

      
    <div class="col-12 md:col-3">
      <label class="label-filter-text">Estado</label>
      <p-dropdown placeholder="Seleccione" optionLabel="value" optionValue="id" [showClear]="true">
      </p-dropdown>
  </div>
                      
      </div>
    
<br>
      <div class="p-fluid p-formgrid grid">
           
        <div class="col-12 md:col-2" >
          <p-button
         label="Crear" (click)="crear()"
         styleClass="p-button-raised mr-2 p-button-help"  
           >  </p-button>
         
        </div>
        

        <div class="col-12 md:col-2" >      
            <div class="flex">
                <button type="button" pButton pRipple icon="pi pi-file-excel" class="p-button-success mr-2"  pTooltip="Descargar Excel" tooltipPosition="bottom">l</button>
            </div>
                
</div>       



        <div class="col-12 md:col-4"></div>      

        <div class="col-12 md:col-2">
            <button
                class="p-ripple p-element mr-2 mb-2 p-button"
                type="submit" >Buscar</button>
        </div>

        <div class="col-12 md:col-2">
            <button
                class="p-element p-ripple p-button-secondary mr-2 mb-2 p-button"
                type="button" > Limpiar</button>
        </div>
        


    </div>

      
  </form>
  </p-panel>
</div>


<div class="col-12">
  <p-toast key="tst"[baseZIndex]="99999" ></p-toast>

  <p-panel header="Tabla de Marca" 
   [toggleable]="true" class="line-height-3 m-0"> 
      <p-table [rows]="5" 

      [value]="marca"
      [loading]="loading"
      [rowHover]="true"
      styleClass="p-datatable-gridlines" 
      [scrollable]="true" 
      responsiveLayout="scroll">

      <ng-template pTemplate="header">
        <tr>     
          <th class="HeaderTh">
            Id
          </th>     
          <th class="HeaderTh">
            Nombre
          </th>   
          <!-- <th class="HeaderTh">
            Sub_Categorias 
          </th>      -->
          <th class="HeaderTh">
            Imagen 
          </th>
                       
          <th class="HeaderTh">
            Acciones
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-data>
        <tr>
          <td class="BodyTh">
            {{  data.id  }}
          </td>  
          
          <td class="BodyTh">
            {{  data.nombre  }}
          </td>        
          <!-- <td class="BodyTh">
            {{  data.estado  }}
          </td>    -->
          <td class="BodyThImg"  >
            <img  class="imgtableimg" alt="img1" src="{{ data.imagen }}"/>
          </td>
            
        
          <td class="text-center tdacciones">         
            


            <button (click)="editarMarca($event,data)" pButton icon="pi pi-user-edit"
            title="Editar"  class="p-button-info btnedit"  ></button>
            
             <button (click)="cambiarEstado($event,data)" 
             pButton [icon]="data.icono" tooltipPosition="left" 
              [title]="data.poolTip +'Marca'"
              class="p-button-warning btnecambiarestado"
             ></button>
            
            <button (click)="eliminarMarca($event,data.id)" pButton icon="pi pi-trash"
            title="Eliminar"class="p-button-danger btndelete"></button>
            <p-confirmPopup key="deleteUsuario{{data.iid_usuario}}"></p-confirmPopup>

          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">No se encontro Información.</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="loadingbody">
        <tr>
          <td colspan="7">
            Cargando Información de Marca. Espere Por Favor.
          </td>
        </tr>
      </ng-template>
      </p-table>

      <p-paginator   
      #paginator
      [first]="first" 
      [rows]="5" 
      [totalRecords]="totalRecord" 
      [rowsPerPageOptions]="[5,10,25,50]"
      [showCurrentPageReport]="true"
      (onPageChange)="cambiarPagina($event)"
      currentPageReportTemplate="Total : {{totalRecord}} registros" ></p-paginator>
  
  </p-panel>
</div>

<p-dialog [(visible)]="idDialog" [style]="{width: '400px'}" header="Detalle Marcasda" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content" >
      <form   [formGroup]="formMarcaEditable">
          <div class="p-fluid p-formgrid grid" style="margin-top:5px;">    
            <div class="col-12 md:col-12 imgmodal">         
            <img [src]="lsMarcadto.imagen"   class="imgmodal2" [alt]="lsMarcadto.imagen" >


          </div>  
         <!-- <p-fileUpload  title="Cambiar Imagen"  class="pbutonimg" mode="basic" chooseIcon="pi-sync"
          invalidFileTypeMessageDetail="Sólo se permiten ficheros {{acceptedFiles}}" 
          [headers]="httpHeaders"  for="inputFile"
         accept="{{acceptedFiles}}"   (onSelect)="leerimagenes2($event)" [auto]="true"
         [maxFileSize]="1000000"  chooseLabel=" " ></p-fileUpload> -->

       
         <input type="file" accept="{{acceptedFiles}}"
         class="p-component p-element form-control"  hidden="true"
          id="inputFile" (change)="leerimagenes2($event)" />
      
         <label role="button" for="inputFile" style="margin-left: 300px;margin-top: 1px" >
          <p-chip icon="pi pi-sync" styleClass="mr-2 custom-chip"></p-chip>
        </label>     

<br>
<br>
<br>


               <div class="col-4 md:col-12 ">
                      <label for="txtNombredg" class="divnombre">Nombre</label>
                      <input type="text" pInputText placeholder="Ingrese Nombre"  
                      [(ngModel)]="lsMarcadto.nombre" formControlName="txtNombredg"  
                       name="categoria2.nombre" required />
                       <small class="ng-dirty ng-invalid" 
                       *ngIf="submitted && !lsMarcadto.nombre">Ingrese Nombre.</small>

                  </div>
              

          </div>
      </form>
    
  </ng-template>

  <ng-template pTemplate="footer"  >
      <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="actualizar($event)"></button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="idDialogc" [style]="{width: '600px'}" header="Crear Marca" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content" >
      <form   [formGroup]="formMarcaCrear">
          <div class="p-fluid p-formgrid grid" style="margin-top:5px;">    
            <div *ngIf="marca2.imagen"  class="col-12 md:col-12 imgmodal">         
               <img [src]="marca2.imagen"   class="imgmodal1" [alt]="marca2.imagen" >
            </div>
         



                  <div class="col-4 md:col-12 ">
                      <label for="txtNombredg" class="divnombre">Nombre</label>
                      <input type="text" pInputText placeholder="Ingrese Nombre"  
                      [(ngModel)]="marca2.nombre" formControlName="txtNombre"  
                       name="marca2.nombre" required />
                       <small class="ng-dirty ng-invalid" 
                       *ngIf="submitted && !marca2.nombre">Ingrese Nombre.</small>

                  </div>

                  <div class="col-4 md:col-12 ">
                    <label for="txtImagendg" class="divnombre">Imagen</label>
                    <!-- <input type="text" pInputText placeholder="Ingrese Url Imagen"  
                    [(ngModel)]="categoria2.imagen" formControlName="txtImagen"  
                     name="categoria2.imagen" required /> -->
                     <p-fileUpload name="file"  [maxFileSize]="1000000"
                     [multiple]="false" accept="{{acceptedFiles}}" [fileLimit]="1"
                     [headers]="httpHeaders" [previewWidth]="100"  (onSelect)="leerimagenes($event)"
                     invalidFileTypeMessageDetail="Sólo se permiten ficheros {{acceptedFiles}}"  [customUpload]="true" [showUploadButton]="false" 
                     chooseLabel="Seleccionar Imagen" cancelLabel="Cancelar" uploadLabel="Subir" chooseIcon="pi pi-file" [showCancelButton]="false"
                  ></p-fileUpload>
               
           
                </div>
              

          </div>
      </form>
    
  </ng-template>

  <ng-template pTemplate="footer"  >
      <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple  class="p-button-text" label="{{(loadingc)? 'Registrando....':'Registrar'}}"
      [disabled]="loadingc" (click)="crearMarca()"></button>
  </ng-template>
</p-dialog>


<p-confirmPopup key="deleteMarca"></p-confirmPopup>