<div class="col-12">
  <p-toast key="tst"[baseZIndex]="99999" ></p-toast>

  <p-panel header="Busqueda de Usuarios" [collapsed]="false" [toggleable]="true" class="line-height-3 m-0"> 
      <form  >
          <div class="p-fluid p-formgrid grid">

              <div class="col-4 md:col-3">
                <label class="label-filter-text">Nombre</label>
                <input type="text" pInput placeholder="Nombre Producto" 
                class="p-inputtext p-component p-element">
              </div>

              
              <div class="col-4 md:col-3">
                <label class="label-filter-text">Nombre</label>
                <input type="text" pInput placeholder="Nombre Producto" 
                class="p-inputtext p-component p-element">
              </div>


              
              <div class="col-4 md:col-3">
                <label class="label-filter-text">Nombre</label>
                <input type="text" pInput placeholder="Nombre Producto" 
                class="p-inputtext p-component p-element">
              </div>             
          </div>
      </form>
  </p-panel>
</div>

<br>
<div class="col-12">
  <p-toast key="tst"[baseZIndex]="99999" ></p-toast>

  <p-panel header="Tabla de Usuarios" 
   [toggleable]="true" class="line-height-3 m-0"> 
      <p-table [rows]="5" 

      [value]="usuarios"
      [loading]="loading"
       [rowHover]="true"
      styleClass="p-datatable-gridlines" 
      [scrollable]="true" 
      responsiveLayout="scroll">

      <ng-template pTemplate="header">
        <tr>       
          <th class="HeaderTh">
            Nombre
          </th>   
          <th class="HeaderTh">
            Apellidos
          </th>   
          <th class="HeaderTh">
            Correo
          </th>   
          <th class="HeaderTh">
            Telefono
          </th>       
          <th class="HeaderTh">
            Imagen 
          </th>
                       
          <th class="HeaderTh">
            Acciones
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-data>
        <tr>
          <td class="BodyTh">
            {{  data.name_users  }}
          </td>        
          <td class="BodyTh">
            {{  data.lastname_users  }}
          </td>   
          <td class="BodyTh">
            {{  data.email_users  }}
          </td>        
          <td class="BodyTh">
            {{  data.phone_users  }}
          </td>  
          <td class="BodyThImg"  >
            <img  class="imgtableimg" alt="img1" src="{{ data.image }}" onerror="this.src='/assets/imgno.jpg'"/>
          </td>
            
        
          <td class="text-center tdacciones" >
           
            <button (click)="editarUsuario()" pButton icon="pi pi-trash" tooltip="Eliminar"
              class="p-button-danger btndelete" ></button>
            <p-confirmPopup key="deleteUsuario{{data.iid_usuario}}"></p-confirmPopup>

            <button (click)="eliminarUsuario()" pButton icon="pi pi-user-edit" tooltip="Editar"
              class="p-button-danger btnedit"
             ></button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">No se encontro Información.</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="loadingbody">
        <tr>
          <td colspan="7">
            Cargando Información de Usuarios. Espere Por Favor.
          </td>
        </tr>
      </ng-template>
      </p-table>

      <p-paginator    
      [rows]="5" 
      [totalRecords]="totalRecord" 
      [rowsPerPageOptions]="[5,10,25,50]"
      [showCurrentPageReport]="true"
      (onPageChange)="cambiarPagina()"
      currentPageReportTemplate="Total : {{totalRecord}} registros" ></p-paginator>
  
  </p-panel>
</div>