<div class="container pt-5 mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                 <div class="dimg">
                    <img class="img"alt="Not - Found"
                    src="/assets/notfound.jfif"/>
                  
                </div>             
      
                <div class="error-details">
                    Lo sentimos, ha ocurrido un error, ¡la página solicitada no se encuentra!
                </div>
                <div class="error-actions">
                    <a (click)="atras()" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                       Retroceder </a>
                       <a routerLink="/" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span>Contactar al Soporte</a>
                </div>
             
            </div>
        </div>
    </div>
</div>