
.btndelete{
    width:auto;
    background: none;
    color: blue;
    border: 0px;
    padding: 5px;
}
.btnedit{
    width:auto;
    background: none;
    color: blue;
    border: 0px;
    padding: 5px;
}
.h{
    display: inline-block;
    margin: 10px;
    margin-bottom: 30px;
}

.BodyTh{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.tdacciones{
    display: flex;
    justify-content: center;
    align-items: center;
}

.BodyThImg{
    min-width: 12rem;
    height: 90px;    
    display: flex;
    align-items: center;
    justify-content: center;  
}

.HeaderThs{
    min-width: 8rem;    
    height:58px;    
    display: flex;
    align-items: center;
    justify-content: center;
}



.BodyThsm{
    min-width: 8rem;
    height: 90px;  
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px; 
}


.HeaderTh{

    height:58px; 
    display: flex;
    align-items: center;
    justify-content: center;  
}

.HeaderThImg{
    height:58px; 
    display: flex;
    align-items: center;
    justify-content: center;  
}
.tdnumeros{
    min-width: 12.5rem; 
    justify-content: right;
    
}

.span{
    margin-top:40px;
}
.vs{  
    margin-top: 60px;
    margin-left: 10px;
    font-size: 20px;    
}
.switch{
    margin-top: 63px;
}

.h5{
    color: white;
}
.comp{
    margin-bottom: 18px;
}

.imgtabletd{
 width: 100%;
 height:100%; 

}

.imgtableimg{
    
    width: 100px;
    height: 100px;
    min-width: 1rem;
    border-radius: 10px;
}


