<div class="col-12" >
  <p-toast key="tst"[baseZIndex]="99999" ></p-toast>



  <p-panel   header="Busqueda productos" [collapsed]="false" [toggleable]="true" class="line-height-3 m-0"> 
      <form  [formGroup]="formBusqueda"  >
          <div class="p-fluid p-formgrid grid" >

              <div class="col-4 md:col-3">
                <label class="label-filter-text">Nombre</label>
                <input type="text" formControlName="txtNombre" pInput placeholder="Nombre Producto" 
                class="p-inputtext p-component p-element">
              </div>

              
              <div class="col-12 md:col-4" >
                <label class="label-filter-text" >Categoria</label>
                <p-dropdown placeholder="Seleccione"  
                [options]="categorias"  [filter]="true"
                formControlName="cboCategoria"
                optionLabel="nombre" optionValue="id" >
               
                </p-dropdown>
                
            </div>

              
            <div class="col-12 md:col-4">
              <label class="label-filter-text">Marca</label>
              <p-dropdown placeholder="Seleccione"  [filter]="true"
              formControlName="cboMarca"  [options]="marca"   optionLabel="nombre"
              optionLabel="nombre" optionValue="id" >
              </p-dropdown>
          </div>
         


          <div class="col-12 md:col-3">
            <label class="label-filter-text">Proveedor</label>
            <p-dropdown placeholder="Seleccione"  [filter]="true"
            formControlName="cboProveedor" [options]="proveedor" 
            optionLabel="nombrecompletos" optionValue="id" >
            </p-dropdown>
        </div>

          
        <div class="col-12 md:col-3">
          <label class="label-filter-text">Estado</label>
          <p-dropdown placeholder="Seleccione" 
          formControlName="cboEstado"
          optionLabel="value" optionValue="id">
          </p-dropdown>
      </div>
                          
          </div>
        
          <div class="p-fluid p-formgrid grid mt-2">
             
            <div class="col-fixed md:col-1"  >      
 
                    <p-button (onClick)="exportarExcel()" [disabled]="loadinge" 
                    icon="pi pi-file-excel" styleClass="p-button-success mr-2" 
                    pTooltip="Descargar Excel"  tooltipPosition="bottom">
                   
                  </p-button>    
           </div>  
            <div class="col-2 md:col-2"  > 
                  <p-button
                  label="Agregar" (onClick)="registrarProducto()"  styleClass="p-button-raised mr-2 p-button-help" 
                    ></p-button>

         </div>  
        
  
            

            <div class="col-12 md:col-5"></div>
            <div class="col-12 md:col-2" >
                 <p-button
                label="Buscar" (onClick)="buscar()"
                styleClass="p-button  p-button-info mr-2 mb-2 p-button"  
                  >  </p-button>
                
            </div>
            <div class="col-12 md:col-2" >
                <p-button
                label="Limpiar"
                styleClass="p-button  p-button-secondary mr-2 mb-2 p-button"  
                    (click)="limpiarFormulario()">
                    
                </p-button>
            </div>            
        </div>          
      </form>

      
  </p-panel>
</div>


<div class="col-12">
  <p-panel header="Tabla Productos" [toggleable]="true" class="line-height-3 m-0">
    <p-toast key="tst"[baseZIndex]="99999" ></p-toast>
    <p-table #dt [value]="producto" [loading]="loading"
              [rows]="5" [paginator]="true" [rowHover]="true" dataKey="id"
               currentPageReportTemplate="Mostrando {first} a {{limite}} de {{totalRecord}} Registros" 
              [showCurrentPageReport]="true" [scrollable]="true" responsiveLayout="scroll"
              >

      <ng-template pTemplate="header">
          <tr>
            <th  style="min-width:8rem;">Codigo</th>
              <th  pSortableColumn="nombre" style="min-width:20rem">Nombre<p-sortIcon field="nombre"></p-sortIcon></th>
              <th  style="min-width:8rem;justify-content: center;">Imagen</th>
              <th  style="min-width:8rem;justify-content: center;">Imagen2</th>
              <th  style="min-width:8rem;justify-content: center;">Imagen3</th>
              <th  pSortableColumn="precio"  style="min-width:8rem">Precio<p-sortIcon field="precio"></p-sortIcon></th>
              <th  pSortableColumn="categoria" style="min-width:12rem;">Categoria<p-sortIcon field="categoria"></p-sortIcon></th>
              <th  pSortableColumn="marca"  style="min-width:8rem;">Marca<p-sortIcon field="marca"></p-sortIcon></th>
              <th  pSortableColumn="estrellas"  style="min-width:10rem;">Clasificacion<p-sortIcon field="estrellas"></p-sortIcon></th>
              <th  pSortableColumn="vstock"  style="min-width:8rem;">Stock<p-sortIcon field="vstock"></p-sortIcon></th>
              <th  pFrozenColumn  alignFrozen="right">
                Acciones
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
          <tr  [ngClass]="{'row-accessories': data.estado === 0}">
            <td style="min-width:8rem">{{data.vCodigo}}</td>
              <td style="min-width:20rem">{{data.nombre}}</td>
              <td style="min-width:8rem;justify-content: center;">
                <img src="{{ data.imagen1 }}" onerror="this.src='/assets/imgno.jpg'" [alt]="data.nombre" width="80" height="70" class="shadow-4" />
              </td>
              <td style="min-width:8rem;justify-content: center;">
                <img src="{{ data.imagen2 }}" onerror="this.src='/assets/imgno.jpg'" [alt]="data.nombre" width="80" height="70" class="shadow-4" />
              </td>
              <td style="min-width:8rem;justify-content: center;">
                <img src="{{ data.imagen3 }}" onerror="this.src='/assets/imgno.jpg'" [alt]="data.nombre" width="80" height="70" class="shadow-4" />
              </td>
              <td  style="min-width:8rem;">S/. {{data.precio | currency:'':'':'1.2-2'}}</td>
              <td style="min-width:12rem;">{{data.categoria}}</td>
              <td  style="min-width:8rem;">{{data.marca}}</td>
              <td  style="min-width:10rem;"><p-rating [ngModel]="data.estrellas" [readonly]="true" [cancel]="false"></p-rating></td>
              <td  style="min-width:8rem;"><span [class]="'product-badge status-' + data.vstock.toLowerCase()">{{data.vstock}}</span></td>

              <td [ngClass]="{'row-accessoriesacciones': data.estado === 0}" pFrozenColumn  alignFrozen="right">

                <button (click)="eliminarProducto($event,data.id)" pButton icon="pi pi-trash" title="Eliminar"
                        class="p-button-danger btndelete">
                </button>     
    
                <button (click)="editProducto($event,data)"pButton icon="pi pi-file-edit" 
                        title="Editar"class="p-button-info btnedit" >
                </button>
                <button pButton icon="pi pi-eye" (click)="verDescripcion(data)"
                title="Ver Descripcion"class="p-button-info btnedit" >
                </button>
                 
                <button (click)="cambiarestado($event,data)"pButton [icon]="data.icono"
                        [title]="data.poolTip +'Producto'" class="p-button-warning btnecambiarestado">
                </button>
              </td>

          </tr>
      </ng-template>
      <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            En Total hay   {{producto ? producto.length : 0 }} Productos.
          </div>
      </ng-template>
  </p-table>
  </p-panel>
</div>





<p-dialog [(visible)]="idDialog" [closable]="false" [style]="{width: '850px',height: '850px'}" header="Detalle Producto" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content" >
      <form   [formGroup]="formProductoEditable">
          <div class="p-fluid p-formgrid grid" style="margin-top:5px;">    

                  <div class="col-4 md:col-12 ">
                      <label for="txtNombredg" class="divnombre">Nombre</label>
                      <input type="text" pInputText placeholder="Ingrese Nombre"  
                      [(ngModel)]="lsproductodto.nombre" formControlName="txtNombredg"  
                       name="producto.nombre" required autocomplete="off" />
                       <small class="ng-dirty ng-invalid" 
                       *ngIf="submitted && !lsproductodto.nombre">Ingrese Nombre.</small>

                  </div>
                  <div class="col-12 md:col-4">
                    <label for="cboCategoriadg">Categoria</label>
                    <p-dropdown formControlName="cboCategoriadg"
                    [(ngModel)]="lsproductodto.id_categoria" [filter]="true"
                    [options]="categorias" optionValue="id" (onChange)="nombreCategoria($event,categorias)"
                    optionLabel="nombre" placeholder="Seleccione"
                     ></p-dropdown>
                     <small class="ng-dirty ng-invalid" 
                     *ngIf="submitted && !producto2.id_categoria">Seleccione Categoria.</small>

                </div>
                            
              <div class="col-12 md:col-4">
                <label for="cboMarcadg">Marca</label>
                <p-dropdown formControlName="cboMarcadg" 
                [options]="marca"  optionValue="id"[filter]="true"
                optionLabel="nombre"  (onChange)="nombreMarca($event,marca)"
                [(ngModel)]="lsproductodto.id_marca" 
                placeholder="Seleccione"></p-dropdown>
                <small class="ng-dirty ng-invalid" 
                 *ngIf="submitted && !producto2.id_marca">Seleccion Marca.</small>

            </div>

            <div class="col-12 md:col-4">
              <label class="label-filter-text">Proveedor</label>
              <p-dropdown placeholder="Seleccione" 
              formControlName="cboProveedordg" [options]="proveedor"
              [(ngModel)]="lsproductodto.id_proveedor" 
              optionLabel="nombrecompletos" optionValue="id" >
              </p-dropdown>
              <small class="ng-dirty ng-invalid" 
              *ngIf="submitted && !producto2.id_proveedor">Seleccione Proveedor.</small>
          </div>

                  <div class="col-12 md:col-4">
                    <label for="txtPreciodg">Precio</label>
                    <input type="text" pInputText placeholder="Precio" autocomplete="off"
                    name="precio" formControlName="txtPreciodg"
                    [(ngModel)]="lsproductodto.precio"  required  />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !lsproductodto.precio">Ingrese Precio.</small>
                </div>

                <div class="col-12 md:col-3">
                  <label for="txtStockdg">Stock</label>
                  <input type="text" pInputText placeholder="Stock" name="stock" autocomplete="off"
                   formControlName="txtStockdg" [(ngModel)]="lsproductodto.stock"   required/>
                   <small class="ng-dirty ng-invalid" *ngIf="submitted && !lsproductodto.stock">Ingrese Stock.</small>
                  </div>

                  <div class="col-12 md:col-12" *ngIf="verSubirImagenes">
                    <p-fileUpload name="file"  [maxFileSize]="1000000"
                    [multiple]="true" accept="{{acceptedFiles}}" [fileLimit]="3"
                    [headers]="httpHeaders" [previewWidth]="100" (onRemove)="borrarImagenes($event)"  (onSelect)="leerimagenes($event)"
                    invalidFileTypeMessageDetail="Sólo se permiten ficheros {{acceptedFiles}}"  [customUpload]="true" [showUploadButton]="false" 
                    chooseLabel="Seleccionar Imagen 1,2,3" cancelLabel="Cancelar" uploadLabel="Subir" chooseIcon="pi pi-file" [showCancelButton]="false"
                 >
                    </p-fileUpload>   
                  </div>



          </div>
      </form>
    
  </ng-template>

  <ng-template pTemplate="footer"  >
      <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple  label="{{(loadinga)? 'Guardando....':'Guardar'}}"
      [disabled]="loadinga"  icon="pi pi-check" class="p-button-text" (click)="actualizarProducto($event)"></button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="idDialogDesc" [closable]="false" [style]="{width: '850px',height: '850px'}" header="Descripción: {{nombreProducto}}" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content" >
      <form   [formGroup]="formDescripcion">
          <div class="p-fluid p-formgrid grid" style="margin-top:5px;">    
            <!-- <h5>Descripcion del Producto: SILLA GAMBYTE PREMIUM ( VC03- 19- GBE ) GAMING | N</h5> -->

            <div class="col-4 md:col-12 ">
                      <label for="txtResumenDesc" class="divnombre">Resumen</label>
                      <input type="text" pInputText placeholder="Ingrese Resumen"  
                      [(ngModel)]="lstDescripcion.vResumen" formControlName="txtResumenDesc"  
                       required autocomplete="off" />
                 </div>
                            
                  <div class="col-12 md:col-6">
                    <label for="txtDesc_1">Descripcion 1:</label>
                    <input type="text" pInputText placeholder="Descripcion 1" autocomplete="off"
                    formControlName="txtDesc_1" [(ngModel)]="lstDescripcion.vDesc_1" required/>
                </div>

                <div class="col-12 md:col-6">
                  <label for="txtDesc_2">Descripcion 2:</label>
                  <input type="text" pInputText placeholder="Descripcion 2" autocomplete="off"
                   formControlName="txtDesc_2" [(ngModel)]="lstDescripcion.vDesc_2"   required/>
                </div>

                <div class="col-12 md:col-6">
                  <label for="txtDesc_3">Descripcion 3:</label>
                  <input type="text" pInputText placeholder="Descripcion 3" autocomplete="off"
                  formControlName="txtDesc_3" [(ngModel)]="lstDescripcion.vDesc_3" required/>
              </div>

              <div class="col-12 md:col-6">
                <label for="txtDesc_4">Descripcion 4:</label>
                <input type="text" pInputText placeholder="Descripcion 4" autocomplete="off"
                 formControlName="txtDesc_4" [(ngModel)]="lstDescripcion.vDesc_4"   required/>
              </div>
              <div class="col-12 md:col-6">
                <label for="txtDesc_5">Descripcion 5:</label>
                <input type="text" pInputText placeholder="Descripcion 5" autocomplete="off"
                formControlName="txtDesc_5" [(ngModel)]="lstDescripcion.vDesc_5" required/>
            </div>

            <div class="col-12 md:col-6">
              <label for="txtDesc_6">Descripcion 6:</label>
              <input type="text" pInputText placeholder="Descripcion 6" autocomplete="off"
               formControlName="txtDesc_6" [(ngModel)]="lstDescripcion.vDesc_6"   required/>
            </div>
            <div class="col-12 md:col-6">
              <label for="txtDesc_7">Descripcion 7:</label>
              <input type="text" pInputText placeholder="Descripcion 7" autocomplete="off"
              formControlName="txtDesc_7" [(ngModel)]="lstDescripcion.vDesc_7" required/>
          </div>

          <div class="col-12 md:col-6">
            <label for="txtDesc_8">Descripcion 8:</label>
            <input type="text" pInputText placeholder="Descripcion 2" autocomplete="off"
             formControlName="txtDesc_8" [(ngModel)]="lstDescripcion.vDesc_8"   required/>
          </div>

          </div>
      </form>
    
  </ng-template>

  <ng-template pTemplate="footer"  >
      <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Guardar" icon="pi pi-check" (click)="editarRegistrarDescripcion()" class="p-button-text" ></button>
  </ng-template>
</p-dialog>



<p-dialog [(visible)]="idDialogP" [style]="{width: '600px'}" header="Crear Categoria" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content" >
      <form   >
          <div class="p-fluid p-formgrid grid" style="margin-top:5px;">    


                  <div class="col-4 md:col-12 ">
                    <label for="txtImagendg" class="divnombre">Imagen</label>

                     <p-fileUpload name="file"  [maxFileSize]="1000000"
                     [multiple]="true" accept="{{acceptedFiles}}" [fileLimit]="3"
                     [headers]="httpHeaders" [previewWidth]="100"  (onSelect)="leerimagenes($event)"
                     invalidFileTypeMessageDetail="Sólo se permiten ficheros {{acceptedFiles}}"  [customUpload]="true" [showUploadButton]="false" 
                     chooseLabel="Seleccionar Imagen" cancelLabel="Cancelar" uploadLabel="Subir" chooseIcon="pi pi-file" [showCancelButton]="false"
                  ></p-fileUpload>               
           
                </div>
              

          </div>
      </form>
    
  </ng-template>

  <ng-template pTemplate="footer"  >
      <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple  class="p-button-text" label="Registrar"
      (click)="pruebaFirebaseMultiple()"></button>
  </ng-template>
</p-dialog>
<p-confirmPopup key="deleteProducto"></p-confirmPopup>